<?xml version="1.0"?>
<config>
    <modules>
        <Peter_Week3>
            <version>0.1.0</version>
        </Peter_Week3>
    </modules>
    <frontend>
        <routers>
            <week3>
                <use>standard</use>
                <args>
                    <module>Peter_Week3</module>
                    <frontName>week3</frontName>
                </args>
            </week3>
        </routers>  
        <layout>
            <updates>
                <week3>
                    <file>peter_week3.xml</file>
                </week3>
            </updates>
        </layout>
    </frontend>
</config>
