<?xml version="1.0"?>
<config>
    <modules>
        <Peter_Totals>
            <version>0.1.0</version>
        </Peter_Totals>
    </modules>
    <global>
        <helpers>
            <peter_totals>
                <class>Peter_Totals_Helper</class>
            </peter_totals>
        </helpers>

        <blocks>
            <peter_totals>
                <class>Peter_Totals_Block</class>
            </peter_totals>
        </blocks>

        <models>
            <peter_totals>
                <class>Peter_Totals_Model</class>
            </peter_totals>
        </models>

        <resources>
            <peter_totals_setup>
                <setup>
                    <module>Peter_Totals</module>
                </setup>
            </peter_totals_setup>
        </resources>

       <fieldsets>
            <sales_convert_quote_address>
                <base_payment_discount_amount>
                    <to_order>*</to_order>
                </base_payment_discount_amount>
                <payment_discount_amount>
                    <to_order>*</to_order>
                </payment_discount_amount>
            </sales_convert_quote_address>
            <sales_convert_quote_item>
                <base_payment_discount_amount>
                    <to_order_item>*</to_order_item>
                </base_payment_discount_amount>
                <payment_discount_amount>
                    <to_order_item>*</to_order_item>
                </payment_discount_amount>
            </sales_convert_quote_item>
        </fieldsets>

        <sales>
            <quote>
                <totals>
                    <payment_discount>
                        <class>peter_totals/sales_quote_address_total_paymentdiscount</class>
                        <after>grand_total</after>
                    </payment_discount>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <payment_discount>
                        <class>peter_totals/sales_order_invoice_total_paymentdiscount</class>
                        <after>grand_total</after>
                    </payment_discount>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <payment_discount>
                        <class>peter_totals/sales_order_creditmemo_total_paymentdiscount</class>
                        <after>grand_total</after>
                    </payment_discount>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
   <frontend>
        <layout>
            <updates>
                <peter_totals>
                    <file>peter_totals.xml</file>
                </peter_totals>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <peter_totals>
                    <file>peter_totals.xml</file>
                </peter_totals>
            </updates>
        </layout>
    </adminhtml>
</config>
