<?xml version="1.0"?>
<config>
    <modules>
        <Peter_Week1>
            <version>0.1.0</version>
        </Peter_Week1>
    </modules>
    <global>
        <helpers>
            <peter_week1>
                <class>Peter_Week1_Helper</class>
            </peter_week1>
        </helpers>
        <models>
            <sales>
                <rewrite>
                    <order>Peter_Week1_Model_Order</order>
                </rewrite>
            </sales>
            <peter_week1>
                <class>Peter_Week1_Model</class>
            </peter_week1>
        </models>
        <events>
            <cms_controller_router_match_before>
                <observers>
                    <peter_week1>
                        <class>Peter_Week1_Model_Observer</class>
                        <method>rewriteCmsUrl</method>
                    </peter_week1>
                </observers>
            </cms_controller_router_match_before>
        </events>
        <events>
            <controller_action_predispatch>
                <observers>
                    <peter_week1>
                        <class>Peter_Week1_Model_Observer</class>
                        <method>setDynamicHelper</method>
                    </peter_week1>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Peter_Week1_Customer before="Mage_Customer">Peter_Week1_Customer</Peter_Week1_Customer>
                    </modules>
                </args>
            </customer>
            <cms>
                <args>
                    <modules>
                        <Peter_Week1_Cms before="Mage_Cms">Peter_Week1_Cms</Peter_Week1_Cms>
                    </modules>
                </args>
            </cms>
        </routers>
    </frontend>
</config>
